page-chat {
  div.contained:first-child {
    background: grey;
  }
  .fullScreen{
    width: 100%;
    height: 86%;
  }
  .hiddenScreen{
    display: none;
  }
  .message{
    padding:10px 0;
    .message-holder{
      width:80%;
      padding:10px;
      color: white;
      background-color: #32db64;
      border-radius: 3px;
    }
    &.owner-message{
      text-align: right;
      .message-holder{
        float:right;
        background-color: #488aff;
      }
      &:after{
        content:'';
        display: block;
        clear:both;
      }
    }
    &.other-message{
      text-align: left;
    }
  }
}
